extends base

block body
  - var phone1 = '+(380) 973 467 057';
  - var phone2 = '+(380) 936 545 884';
  - var phone3 = '+(380) 662 100 754';
  - var email = 'hutsulvil@gmail.com';

  - var location = 'Івано-Франківська обл., смт. Ворохта';
  - var address = 'вул. Грушевського, 30-Б';

  - var vk = 'http://vk.com/hutsulvil';
  - var facebook = 'https://www.facebook.com/groups/1554076214867394/';
  - var twitter = 'https://twitter.com/hutsulvil';

  - var apiKey = 'AIzaSyDE82iUg3C5cPuOJsAqFl-9tQNNjrwclv4';
  - var placeId = 'ChIJs9s-tCvgNkcRaVTF6t-wmq0';
  - var url = 'http://www.hutsulvil.com';
  #panorama
    .summary
      .ui.grid
        .sixteen.wide.center.aligned.column
          .hutsulvil
            h1.ui.header ҐУЦУЛ#[span ВІЛЬ]
              .sub.header мистецтво відпочинку
        .sixteen.wide.column
          .social
            .ui.centered.grid
              .center.aligned.column
                a(href=vk target="_blank") #[i.big.vk.icon]
              .center.aligned.column
                a(href=facebook target="_blank") #[i.big.facebook.icon]
              .center.aligned.column
                a(href=twitter target="_blank") #[i.big.twitter.icon]
        .sixteen.wide.column
          .contacts
            .ui.stackable.grid.container
              .four.wide.center.aligned.column
                p #[i.phone.icon] #{phone1}
              .four.wide.center.aligned.column
                p #[i.phone.icon] #{phone2}
              .four.wide.center.aligned.column
                p #[i.phone.icon] #{phone3}
              .four.wide.center.aligned.column
                a(href="mailto:#{email}") #[i.mail.icon] #{email}
  #content
    .ui.stackable.relaxed.grid.container
      .two.wide.center.aligned.column
        i.huge.home.outline.icon
      .fourteen.wide.column
        h2.ui.header Про нас
          .sub.header.
            Ґуцулвіль пропонує якісний та унікальний відпочинок гармонійно
            поєднаний з Вашим особистим розвитком
        p.intro.
          Ми народилися у 2007 році, в пору, коли Ворохту вже огорнула зима. На
          дворі падав сніг, а наші перші відвідувачі своєю щирістю запалювали
          традицію доброзичливого ставлення поміж всіма мешканцями Ґуцулвілю.
          Ми завжди радіємо нашим новим відвідувачам і щиро вдячні Вам, друзі
          Ґуцулвілю, за те, що Ви з нами. Ґуцулвіль забезпечує кожному гостю
          кращий рівень комфорту й насичений активний відпочинок у Карпатах.
          Бажаємо Вам доброго настрою і міцного здоров'я! Приїжджайте до нас у
          гості та Ви не помітите, як Ґуцулвіль стане для Вас рідним!
      .two.wide.center.aligned.column
        i.huge.tree.icon
      .fourteen.wide.column
        h2.ui.header Відпочинок та розваги
          .sub.header.
            Якісний та унікальний відпочинок взимку і влітку
        .ui.relaxed.list
          .item
            i.checkmark.icon
            .content.
              Пішохідні прогулянки полонинами та вихід на карпатські вершини
          .item
            i.checkmark.icon
            .content Рафтинг на Черемоші
          .item
            i.checkmark.icon
            .content Катання на лижах
          .item
            i.checkmark.icon
            .content Прогулянки на конях
          .item
            i.checkmark.icon
            .content Пікніки в колі друзів
          .item
            i.checkmark.icon
            .content Збирання грибів та ягід
          .item
            i.checkmark.icon
            .content Ознайомлення з культурою та архітектурою краю
          .item
            i.checkmark.icon
            .content Традиційне святкування Різдва та Великодня
          .item
            i.checkmark.icon
            .content.
              Стрибання через ватру у Купальську ніч та ворожіння на св. Андрія
        .ui.medium.image.img
          img(src="img/mountains001.jpg")
        .ui.medium.image.img
          img(src="img/mountains002.jpg")
        .ui.medium.image.img
          img(src="img/mountains003.jpg")
        .ui.medium.image.img
          img(src="img/rafting001.jpg")
        .ui.medium.image.img
          img(src="img/skis001.jpg")
        .ui.medium.image.img
          img(src="img/horses001.jpg")
        .ui.medium.image.img
          img(src="img/horses002.jpg")
        .ui.medium.image.img
          img(src="img/mushrooms001.jpg")
        .ui.medium.image.img
          img(src="img/blueberries001.jpg")
        .ui.medium.image.img
          img(src="img/trembita001.jpg")
        .ui.medium.image.img
          img(src="img/viaduct001.jpg")
        .ui.medium.image.img
          img(src="img/locomotive001.jpg")
        .ui.medium.image.img
          img(src="img/viaduct002.jpg")
        .ui.medium.image.img
          img(src="img/church001.jpg")
        .ui.medium.image.img
          img(src="img/kupala001.jpg")
        .ui.medium.image.img
          img(src="img/trembita002.jpg")
      .two.wide.center.aligned.column
        i.huge.food.icon
      .fourteen.wide.column
        h2.ui.header Кухня
          .sub.header.
            Домашня гуцульська кухня з баношем, бриндзею та грибами
        .ui.medium.image.img
          img(src="img/borshch001.jpg")
        .ui.medium.image.img
          img(src="img/golubtsi001.jpg")
        .ui.medium.image.img
          img(src="img/varenyky001.jpg")
        .ui.medium.image.img
          img(src="img/chynahy001.jpg")
        .ui.medium.image.img
          img(src="img/banosh001.jpg")
      .two.wide.center.aligned.column
        i.huge.pagelines.icon
      .fourteen.wide.column
        h2.ui.header Баня на дровах
          .sub.header.
            Повноцінна релаксація після активного дня сповненого нових враженнь
            та адреналіну
        .ui.medium.image.img
          img(src="img/banya001.jpg")
        .ui.medium.image.img
          img(src="img/banya002.jpg")
        .ui.medium.image.img
          img(src="img/banya003.jpg")
      .two.wide.center.aligned.column
        i.huge.fire.icon
      .fourteen.wide.column
        h2.ui.header Мангал
          .sub.header.
            Вечірні посиденьки біля багаття з друзями смакуючи соковитий шашлик
        .ui.medium.image.img
          img(src="img/shashlyk001.jpg")
        .ui.medium.image.img
          img(src="img/shashlyk002.jpg")
      .two.wide.center.aligned.column
        i.huge.coffee.icon
      .fourteen.wide.column
        h2.ui.header Альтанки та гойдалка
          .sub.header.
            Приємне проведення часу за духмяним карпатським чаєм та цікавими
            бесідами
      .two.wide.center.aligned.column
        i.huge.privacy.icon
      .fourteen.wide.column
        h2.ui.header Номери
          .sub.header.
            Номери у сучасному та дерев'яному стилях з телебаченням, Wi-Fi та
            іншими зручностями
        .ui.medium.image.img
          img(src="img/room001.jpg")
          .ui.green.ribbon.label.
            #[i.red.large.male.icon]#[i.red.large.male.icon]
            #[.ui.red.circular.label 100]
        .ui.medium.image.img
          img(src="img/room002.jpg")
          .ui.green.ribbon.label.
            #[i.red.large.male.icon]#[i.red.large.male.icon]
            #[i.red.large.male.icon]#[.ui.red.circular.label 150]
        .ui.medium.image.img
          img(src="img/room003.jpg")
          .ui.green.ribbon.label.
            #[i.red.large.male.icon]#[i.red.large.male.icon]
            #[i.red.large.male.icon]#[.ui.red.circular.label 150]
        .ui.medium.image.img
          img(src="img/room004.jpg")
          .ui.green.ribbon.label.
            #[i.red.large.male.icon]#[i.red.large.male.icon]
            #[.ui.red.circular.label 100]
      .two.wide.center.aligned.column
        i.huge.university.icon
      .fourteen.wide.column
        h2.ui.header Конференц-зал
          .sub.header.
            Великий та зручний зал для проведення конференцій, зустрічей та
            святкувань
      .two.wide.center.aligned.column
        i.huge.book.icon
      .fourteen.wide.column
        h2.ui.header Контакт
          .sub.header.
            Резервуйте за телефонами або через електронну пошту. Слідкуйте за
            Ґуцулвіль в соціальних мережах
        .ui.stackable.grid
          .eight.wide.column
            .ui.relaxed.list
              .item #[i.phone.icon] #{phone1}
              .item #[i.phone.icon] #{phone2}
              .item #[i.phone.icon] #{phone3}
              .item
                a(href="mailto:#{email}") #[i.mail.icon] #{email}
              .item #[i.marker.icon] #{location}
              .item #[i.home.icon] #{address}
              .item
                a(href=vk target="_blank") #[i.vk.icon] ВКонтакті
              .item
                a(href=facebook target="_blank") #[i.facebook.icon] Facebook
              .item
                a(href=twitter target="_blank") #[i.twitter.icon] @hutsulvil
          .eight.wide.column
            iframe(width="425" height="375" scrolling="no" allowfullscreen
              frameborder="0" marginheight="0" marginwidth="0"
              src="https://www.google.com/maps/embed/v1/place?key=#{apiKey}&q=place_id:#{placeId}&attribution_source=Google+Maps+Embed+API&attribution_web_url=#{url}&zoom=13&language=ru")
  #footer
    .ui.stackable.relaxed.grid.container
      .two.wide.center.aligned.column
        i.huge.quote.left.icon
      .fourteen.wide.column
        h2.ui.header Завітайте до нас у Ворохту!
        .invitation
          p.
            Ґуцулвіль щиро радіє новим друзям і забезпечить кожному якісний та
            унікальний відпочинок у Карпатах. А щире ставлення господарів,
            радісна та святкова атмосфера Ґуцулвіля подарує яскраві та незабутні
            враження від відпочинку!